<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Closing times</h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">

<input type="text" class="form-control" name="distance" value="Brevet Distance"/>
<input type="text" class="form-control" name="date" value="MM/DD/YYYY"/>
<input type="text" class="form-control" name="StartTime" value="hh:mm"/>

<table class = "table">
  <thead>
    <tr>
      <th>Controles</th>
      <th>Kilometers</th>
      <th>Times</th>
      <th>Location (optional)</th>
    </tr>
  </thead>
  </tbody>
    <tr class="controle">
      <td> 1 </td>
      <td><input type="text" id="attempt" class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
    <tr class="controle">
      <td> 2 </td>
      <td><input type="text" id="attempt"class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
    <tr class="controle">
      <td> 3 </td>
      <td><input type="text" id="attempt" class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
    <tr class="controle">
      <td> 4 </td>
      <td><input type="text" id="attempt" class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
    <tr class="controle">
      <td> 5 </td>
      <td><input type="text" id="attempt" class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
    <tr class="controle">
      <td> 6 </td>
      <td><input type="text" id="attempt" class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
    <tr class="controle">
      <td> 7 </td>
      <td><input type="text" id="attempt" class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
    <tr class="controle">
      <td> 8 </td>
      <td><input type="text" id="attempt" class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
    <tr class="controle">
      <td> 9 </td>
      <td><input type="text" id="attempt" class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
    <tr class="controle">
      <td> 10 </td>
      <td><input type="text" id="attempt"class="form-control"
                 name="miles" value="Distance in miles"/> </td>
      <td><span class="times form-control">(times)</span> </td>
      <td><input type="text" class="form-control"
                 name="location" value="location"/> </td>
    </tr>
  </tbody>
</table>
   
</form>

<script type="text/javascript">
  
  var typingTimer;
  var input;

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading
      
      // When a field named 'miles' is changed ...
      $('input[name="miles"]').keyup(
          // ... execute this function
          
          function (){
              var e_miles = $(this).val();

              var target = $(this).parents(".controle").find(".times");
              if (input) {input.abort()}
              clearTimeout(typingTimer);
              Timer = setTimeout(function() {
              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
 
 
                  x = $.getJSON($SCRIPT_ROOT + '/_calc_times',
                      // The object to pass to the server
                      { miles: e_miles },
                      // The function to call with the response
                      function(data) {
                     
                          var times = data.result;
                           
                          var hclose = times/15;
                          var closehours = Math.round(times/15);
                          var cmins = ((hclose - closehours) * 60).toFixed(2);
                          var ctime = closehours + ":" + cmins;

                          var hopen = times/34;
                          var openhours = Math.round(times/34);
                          var omins = ((hopen - openhours) * 60).toFixed(2);
                          var otime = openhours + ":" + omins;
                     
                          console.log("times: " + closehours);
                          console.log("times: " + cmins);
                          console.log("otimes: " + otime);
   
                          // alert("Got a response: " +  times);
                          target.text("opening time: " + otime + " closing time: " + ctime);
                     
                      }); // End of the call to getJSON
              }, 200);
          });  // End of the function to be called when field changes
              

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
